.detail {
    display: grid;
    gap: 0 2rem;
}

.detail__podrobnosti {
    margin: 0 0 1.8rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2rem 0.6rem;
    }

.detail__podrobnosti dd{
    margin: 0;
    }

.detail__podrobnosti dt {
    font-weight: bold;
}

.detail__popisok {
    font-weight: 700;
    }

.detail__plakat {
    width: 192px;
    height: auto;
    max-width: 100%;
    }

/* ---------MOBILE max.width 530px--------- */
@media (max-width:530px) {
    .detail {
        grid-template-columns: 1fr 12rem;
    }

    .detail__plakat {
        display: grid;
        grid-template-columns: 1fr 13rem;
        gap: 2rem;
    }
}