.paticka {
    background-color: #fafafa;
    padding:$mezera-od-okraju 0;

    &__nadpis {
        font-size: 1.2rem;
        margin: 0;
        color: #303030;
    }

    &__zoznam {
        list-style: none;
        padding: 0;
    }

    &__polozka {
        line-height: 1.2rem;
        padding: 0.2rem 0;
    }

    &__odkaz {
        text-decoration: none;
        color: inherit;
    }

    &__odkaz:hover, 
    &__odkaz:focus {
        text-decoration: underline;
    } 

    &__obsah {
		max-width: $sirka-obsahu;
		width: 100%;
		margin: 0 auto;
		padding: $mezera-od-okraju;
	}
}

@media screen and (min-width:530px) {
    .paticka__obsah--casti {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap:1rem;
    }
}