.paticka {
    background-color: #fafafa;
    padding: 1rem 0;
}

.paticka_obsah {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.paticka_li {
    list-style: none;
    margin-left: 170px;
}

.paticka_href {
    text-decoration: none; 
    color: #444444;
}

.paticka_casti {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    
}

.paticka_h2 {
    color: #303030;
    font-size: 1em;
    margin-left: 170px;
    word-wrap: normal;
}

.paticka_zoznam {
    margin: 0.5em 0 0;
    padding: 0;
    list-style-type: none;
}
