.layout_telo {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: $sirka-obsahu;
	width: 100%;
    padding: $mezera-od-okraju;
}

.hlavni-nadpis {
    font-size: 2rem;
    margin-left: 150px;
}

.hlavni-nadpis__film {
    font-size: 2rem;
    margin-bottom: 0.5rem 0;
}

.autor {
    font-style: italic;
}

.autor__odkaz {
    font-style: italic;
    text-decoration: none;
    color:#3d5afe;


&__:hover, 
&__:focus {
    text-decoration: underline;
    } 
}

.podnadpis {
    font-size: 1.6rem;
    margin: 0.9rem 0;
}

/* ---------MOBILE max.width 530px--------- */
@media (max-width:530px) {
    .hlavni-nadpis {
        margin-left: 30px;
    }
}