<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FILMY.cz</title>
        <link rel="stylesheet" href="/index.css">
	</head>
    {% include "hlavicka.njk" %}
    <body>{{ content | safe }}</body>
    <ul>
	{% for film in filmy %}
		<li><a href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
	{% endfor %}
    </ul>
</html>