$sirka-obsahu: 50rem;
$mezera-od-okraju: 1rem;

$font: 'Roboto', sans-serif;

$hlavni-barva: #9c27b0;
$doplnkova-barva: #3d5afe;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    margin-left: 170px;
}

li {
    margin-left: 150px;
    padding: 0.2em 0;
    line-height: 1.1;
}

.filmy {
    list-style-type: square;
    color: #425beb;
}
