---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---
<div class="layout_telo">
<div class="detail">
<main class="detail__hlavni">
<h2 class="hlavni-nadpis">{{ film.nazev }}</h2>
<dl class="detail__podrobnosti">
<dt class="detail__popisek">Rok:</dt>
<dd> {{ film.rok }}</dd>
<dt class="detail__popisek">Žánr:</dt>
<dd> {{ film.zanr }} {{ zanry | join }}</dd>
<dt class="detail__popisek">Délka:</dt>
<dd> {{ film.delka }}minut</dd>
</dl>
<h3 class="podnadpis">Obsah</h3>
<p class="detail__obsah">{{ film.obsah.text }}<span class="autor">(<a class="autor__odkaz" href="{{ film.obsah.autor.odkaz }}">{{ film.obsah.autor.jmeno }}</a>)</span></p>
</main>
<aside class="detail__vedlejsi">
<img class="detail__plakat" src="{{ film.plakat.url }}" width="{{ film.plakat.sirky }}" vyska="{{ film.plakat.vyska }}" alt="plakát">
<h3 class="podnadpis">Hodnocení: {{ film.hodnoceni }}</h3>
<div class="hodnoceni hodnoceni--skore__{{ hodnoceni }}"></div>
<h3 class="podnadpis">Související filmy</h3>
<ul class="zoznam">
	{% for souvisejiciFilm in film.souvisejici %}
		<li class="zoznam__polozka"><a href="/film/{{ souvisejiciFilm.nazev | slug }}">{{ souvisejiciFilm.nazev }}</a></li>
	{% endfor %}
</ul>
</ul>
</aside>
</div>
</div>