---
layout: zakladni
---
<h1>Všechny</h1>
<div class="seznam">
    <ul class="seznam__filmy">
	{% for film in filmy %}
		<li class="filmy__li"><a href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
	{% endfor %}
    </ul>
</div>